.header {
    border: 2px solid blue;
	padding: 10px;
    background-color: lightskyblue;
    width: 98%;
    height: fit-content;
}

.footer {
    border: 2px solid blue;
	padding: 10px;
    background-color: lightskyblue;
    width: 98%;
    height: fit-content;
}

.content {
    border: 2px solid blue;
	padding: 10px;
    width: 98%;
    height: fit-content;
}

.project {
    border: 1px solid blue;
    padding: 3px;
    width: fit-content;
    height: fit-content;
}
